<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan Rudd - Professional Web Developer</title>
    <script src="https://kit.fontawesome.com/1efa830cb3.js" crossorigin="anonymous"></script>
    <script defer src="/scripts/loader.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="Experienced freelance web developer specializing in building modern and responsive websites.">
    <meta name="keywords" content="freelance web developer, web development, responsive websites, HTML, CSS, JavaScript">
    <meta name="author" content="Ryan Rudd">
    <meta name="robots" content="index, follow">
    <meta name="og:title" content="Ryan Rudd - Freelance Web Development Portfolio">
    <meta name="og:description" content="Experienced freelance web developer specializing in building modern and responsive websites.">
    <meta name="og:image" content="/images/sig.png">
    <meta name="og:url" content="https://www.ryan-rudd.com">
</head>

<body>
    <div class="loading-container">
        <div class="loading-container-balls">
            <div class="loading-ball ball-one"></div>
            <div class="loading-ball ball-two"></div>
            <div class="loading-ball ball-three"></div>
        </div>
    </div>
</body>