<nav>
    <div class="logo">
        <img src="/images/sig.png" alt="">
    </div>

    <div class="nav-items">
        <ul>
            <li class="nav-crumb"><a href="/">Home</a></li>
            <li class="nav-crumb"><a href="/about">About</a></li>
            <li class="nav-crumb"><a href="/pricing">Pricing</a></li>
            <li class="nav-crumb"><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>