<%- include('./partials/header.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <main>

        <section id="about">
            <div class="container">
                <div class="contents">

                    <h3>Let me introduce myself</h3>
                    <h1>About me</h1>
                    <p>I'm Ryan Sam Rudd, a dedicated Freelance Full-Stack Developer based in Wellington, Florida, with
                        a
                        passion for coding that began at the age of 5. With 11 years of experience, despite being just
                        16
                        years old, I bring a wealth of expertise and an unwavering commitment to excellence to every
                        project.</p>
                    <p>I specialize in both frontend and backend web development, crafting robust server-side logic with
                        JavaScript and Python and creating immersive user interfaces using EJS, CSS, and HTML. I
                        frequently
                        utilize Express.js to deliver dynamic, responsive, and feature-rich web experiences that
                        captivate
                        users.</p>
                    <p>My journey in web development includes diverse freelance projects like athleteunseen.com and
                        aiweddingplans.com, showcasing my dedication to excellence and ability to conquer complex
                        challenges.</p>
                    <p>Beyond my coding skills, I'm a versatile individual, excelling in varsity baseball and as an IB
                        student, demonstrating my ability to balance sports and academics effectively.</p>
                </div>
                <div class="image">
                    <img src="/images/person_hero_icon.png" alt="illustration">
                </div>
            </div>
        </section>
        
    </main>
</body>
