<%- include('./partials/header.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <main>
        <section id="contact">
            <div class="container">
                <div class="contents">
                    <h3>Request a Quotation</h3>
                    <h1>Contact</h1>
                    <p>If you would like to request a quotation or have any inquiries, please feel free to reach out to us using any of the following contact methods:</p>
                    <ul>
                        <li><a href="mailto:ryan.ruddd@gmail.com">Email: ryan.ruddd@gmail.com</a></li>
                        <li><a href="tel:5619215842">Phone: +1 (561) 921-5842</a></li>
                    </ul>
                </div>
                <div class="image">
                    <img src="./images/email_hero_icon.png" alt="illustration">
                </div>
            </div>
        </section>
    </main>
</body>
