<%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    <div class="hero" id="#">
        <div class="content">
            <h1>Crafting High-Quality Websites</h1>
            <p>The most damaging phrase in the language is "It's always been done this way"<br><i>- Grace Hopper</i></p>

            <div class="insights">
                <div class="companies-header">
                    <h3><span>5+</span><br>Years of Expertise</h3>
                </div>

                <div class="para">
                    <p>Ryan Rudd is a Freelance Wev Developer<br> well as a full-stack developer</p>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="/images/hero.png" alt="">
        </div>
        <div class="socials">
            <a href="https://twitter.com/MrRyanRudd"><i class="fa-brands fa-twitter" style="font-size: 1.5rem;"></i></a>
            <a href="https://www.instagram.com/ryan.ruddd/"><i class="fa-brands fa-instagram"
                    style="font-size: 1.5rem;"></i></a>
            <a href="https://dribbble.com/ryan-rudd"><i class="fa-brands fa-dribbble"
                    style="font-size: 1.5rem;"></i></a>

        </div>
    </div>

</body>
