<%- include('./partials/header.ejs') %>

    <%- include('./partials/nav.ejs') %>

    <main>
        <section id="pricing">
            <div class="container">
                <div class="image">
                    <img src="/images/pricing_hero_image.png" alt="illustration">
                </div>
                <div class="contents">
                    <h3>Its cheap!</h3>
                    <h1>Pricing</h1>
                    <p>We offer our services at a competitive rate of $60 per hour, ensuring you receive top-notch
                        assistance without breaking the bank.</p>
                    <p>But that's not all! We understand the importance of value, which is why we cap the hourly charge
                        at $500.</p>
                    <p>Once you've reached this limit, you'll enjoy a reduced rate of just $40 per additional hour,
                        making it an unbeatable deal.</p>
                    <p>Our pricing structure is designed to give you peace of mind, knowing you're getting exceptional
                        service at a price that won't stretch your budget.</p>
                    <p>Your satisfaction is our priority, and we're committed to offering you the best value for your
                        investment.</p>
                    <!--<hr>
                    <div class="calculator">
                        <div class="dollar-input">
                            <input type="number" placeholder="Number of hours" maxlength="5">
                        </div>
                        <div class="button">
                            <button type="button">Calculate</button>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>
       
    </main>
</body>
